{% if name == "protozoa" %}
  {% assign label = "◬" %}
{% elsif name == "stentor" %}
  {% assign label = "◌" %}
{% elsif name == "ameoba" %}
  {% assign label = "◠" %}
{% elsif name == "daphnia" %}
  {% assign label = "◪" %}
{% endif %}

<p
  class="Life {{ name | camelize }}"
  {% if style %}
  style="{{ style }}"
  {% endif %}
>
  {% if href %}
    <a href="{{ href }}">{{ label }}</a>
  {% else %}
    {{ label }}
  {% endif %}
</p>
